body {
  margin: 0px;
  padding: 0;
  overflow: hidden;
  color: white;
  background: black;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: underline;
  }
}

div.app_controller {
  font-size: 10pt; 
  z-index: 2000; 
  position: fixed; 
  top: 10px; 
  right: 20px;
  width: 240px;
  ul.flex_list {
    list-style-type: none; 
    padding: 0px; 
    margin: 0px; 
    li.flex_row {
      padding: 5px 0px; 
      display: flex;
      flex-direction: row;
    }
    li.flex_column {
      @extend .flex_row;
      flex-direction: column;
    }
  }
  div.container {
    width: 100%;
  }
  button.app_button {
    width: 100%;  
  }

  div.app_input_button_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
      @extend .app_button;
      input[type="file"] {
        display: none;
      }
    }
    div {
      white-space: nowrap;
      overflow: hidden;
      text-Overflow: ellipsis;
    }
  }
  .app_input_button_row {
    @extend .app_input_button_column;
    flex-direction: row;
    label {
      margin: 0px 8px 0px 0px;
    }
    div {
      margin: 0px;
    }
  }
}
label.app_button {
  background: #808080;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: .026em;
  line-height: 14px;
  padding: 3px 12px;
  text-align: center;
  transition: all .2s ease;
  vertical-align: middle;
  border-width: 0px;
  box-shadow: 1px 1px 1px #555;
  white-space: nowrap;
  margin: 0px 2px;
  &:hover {
    background: #A0A0A0;
  }
}
input.app_input_range[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgba(255, 255, 255, 0.7);
  height: 2px;
  margin: 8px 0px;
  border-radius: 2px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    width: 10px;
    height: 16px;
    display: block;
    background: #808080;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 1px 1px 1px #555;
    transition: all .2s ease;
    &:hover {
      background: #A0A0A0;
    }
  }
}
div.panel {
  margin: 10px 0px;
}
div.footer {
  left: 100px;
  font-size: 8pt; 
  z-index: 105; 
  position: fixed; 
  bottom: 8px; 
}
div.perspectivebase {
  width: 100%; 
  height: 100vh; 
  perspective: 1500px;
  overflow:scroll;
}
div.imagecanvas {
  margin: 100px;
  width: 100%; 
  height: 100vh; 
  min-width: 1700px;
  min-height: 1000px;
  perspective: 1500px;
}
.click-and-move {
  cursor: pointer ;
  position: absolute;
  overflow: hidden;
  z-index: 1000;
}
.drag {
  z-index: 1001;
}
.rotate {
  z-index: 1001;
}
.select {
  z-index: 1001;
}
.select_img {
  z-index: 1001;
}
.circle {
  position: absolute;
  z-index: 1002;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: yellow;
}

.img_frame {
  top: 0px;
  left: 0px;
  position: relative;
  overflow: hidden;
  perspective: 1500px;
}
.img_frame img {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.base_data {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}